:root {
  --color-main: #fd5000;
    --color-title: rgb(60, 60, 59);
    --color-white: #fff;
    --color-accent: rgb(2, 2, 2);
    --background-color:#F4F4F4;
    --text-color:  rgb(60, 60, 59);
    --text-secondary-color: rgb(255, 255, 255);
    --link-text:rgb(247, 141, 54);
    
  }