.natureTitle {
  font-size: 3rem;
}




.cardContainer {
  display: grid;
  margin: 3rem;
  
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  gap: 10px;
  margin-right: auto;
  margin-left: auto;

}

.postCard {

 
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  min-height: 10rem;

  box-shadow: 0 0 5px #ccc;
  border: 1px solid rgb(0, 0, 0);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 575px) {

  main {
    grid-template-columns: 1fr;
  }
}