.natureTitle {
  font-size: 3rem;
}

.cardContainer {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-right: auto;
  margin-left: auto;
}

.postCard {
font-size: 1.5rem;
padding:1rem;
margin-top: 1rem;;
  text-align: center;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  min-height: 1.5rem;
  box-shadow: var(--color-main) 0px 0.2em, var(--color-main) 0px -0.2em,
    var(--color-main) 0.2em 0px, var(--color-main) -0.2em 0px;

}

@media (max-width: 475px) {
  main {
    grid-template-columns: 1fr;
  }
}