

.mainContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 3rem auto;
  max-width: 950px;

  padding: 0 1rem;
  color: var( --color-accent);

}

.navContainer {
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  justify-content: center;
 margin-right: auto;
 margin-left: auto;
  list-style: none;
  width: 100%;
 position: relative;
 top:-60px;
  font-size: 2rem;
transition: 1s;
}

@media (max-width: 1070px) {
  .navContainer { 
     display: none;

  }
   }
 

.navContainer a {
  text-transform: uppercase;
  color: var(--color-title);
  text-decoration: none;
  padding-left: 0.1rem;
  line-height: 1;
font-size: x-large;
}
.navContainer a:hover{

  
  background-image: linear-gradient(transparent 0%, transparent calc(50% - 9px), rgb(253, 80, 0)calc(50% - 9px), rgb(253, 80, 0)100%);
  transition: all 120ms ease-in-out 0s;
  background-size: 100% 200%;
  background-position: 0px 0px;
}


.articleContainer {

  flex-grow: 1;
}

h1 {
  padding: 2rem;
}
.logo {
  font-weight: bold;
  color: black;
}